body {
	background-color: black;
}

.screen {
	margin-left: 15%;
	margin-top: 5%;
}

div {
	color: rgb(0,255,0);
	font-family: Lucida Console, Monaco, monospace;
}

input {
	background-color: rgb(0,255,0);
	float: all;
	font-family: Lucida Console, Monaco, monospace;
	margin-left: 20em;
}

input:hover {
	background-color: rgb(255, 0, 0);
	color: white;
}

