body {
	background-color: black;
	color: rgb(57, 172, 57);
	text-align: center;
	font-family: 'Dosis', sans-serif;
}

h1 {
	margin-top: 1px;
	padding-top: 0;
	margin-bottom: 1px;
}

h2 {
	margin-bottom: 1px;
	margin-right: 50%;
	margin-bottom: 1px;
}

h3 {
	margin-top: 2px;
	color: white;
	padding-top: 0;
	margin-bottom: 1px;
}

.screen {
	margin-top: 10px;
}

span {
	color: white;
}

#level {
	float : left;
	margin-left: 44.8%;
	padding-right: 0;
}

#drops {
	float: left;
}

.portfolio {
	color: white;
}

input {
	background-color: rgb(0,255,0);
	float: all;
	font-family: 'Dosis', sans-serif;
	margin-left: 20em;
}

input:hover {
	background-color: rgb(255, 0, 0);
	color: white;
}

